{% extends "base.html.twig" %}

{% block content %}
    <div id="catalogue-section">
        <div class="container-40 ckeditorOutput">
            <div class="breadcrumbs">
                {% for item in sulu_breadcrumb(uuid) %}
                    <a href="{{ sulu_content_path(item.url) }}">{{ item.title }}</a>
                    {% if not loop.last %}
                        &nbsp; / &nbsp;
                    {% endif %}
                {% endfor %}
            </div>
            <br>
            <h1 class="h1">{{ content.title }}</h1>
            {{ content.perex|raw }}
        </div>


        {% for block in content.blocks %}
            {% if (block.id is defined )  %}
                {% set blockid = 'id="'~block.id~'"'  %}
            {% else %}
                {% set blockid = ""  %}
            {% endif %}

            {% if block.type == 'separator' %}
                <div style="min-height: {{ block.size }}rem" {{ blockid|raw }}>&nbsp;</div>
            {% endif %}

            {% if block.type == 'text'  %}
                <div class="text" {{ blockid|raw }}>
                    <div class="container-40 ckeditorOutput">
                        {{ block.text|raw }}
                    </div>
                </div>
            {% endif %}

            {% if block.type == 'code'  %}
                {{ block.code|raw }}
            {% endif %}

            {% if block.type == 'highlighted_number'  %}
                <div class="container-40 highlighted_number" {{ blockid|raw }}>
                    <span class="number">{{ block.number|raw }}</span>
                    <br>
                    <p>{{ block.text|raw }}</p>
                </div>
            {% endif %}

            {% if block.type == 'image'  %}
                <div class="image" {{ blockid|raw }}>
                    <img src="{{ block.image.thumbnails['catalogue-1200'] }}" alt="{{ block.image.title }}"/>
                    {% if block.description is not empty %}
                    <div class="container-40">
                        <p class="text-comment">{{ block.description|raw }}</p>
                    </div>
                    {% endif %}
                </div>
            {% endif %}

            {% if block.type == 'h3_icon'  %}
                <div class="container-40 h3_icon" {{ blockid|raw }}>
                    <img src="{{ block.icon.thumbnails['catalogue-1200'] }}" alt="{{ block.icon.title }}"/>
                    <h3 class="h3">{{ block.title|raw }}</h3>
                </div>
            {% endif %}


            {% if block.type == 'i_want_to_help'  %}
                <div class="container-40 text-center" {{ blockid|raw }}>
                    <h2 class="h2">Chci pomoct krajině</h2>
                </div>
                <div class="iwth">
                    <div class="col first">
                        <h3 class="h3">Vlastním půdu</h3>
                        <hr>
                        <a class="btn block"  href="#chci-hospodarit-sam">
                            <p>Chci hospodařit sám</p>
                            <p class="text-comment">Máš přímý vliv na pozitivní změnu!</p>
                        </a>
                        <a class="btn block"  href="#svou-pudu-pronajimam">
                            <p>Svou půdu pronajímám</p>
                            <p class="text-comment">Můžeš zajistit šetrné hospodaření na své půdě!</p>
                        </a>
                        <a class="btn block"  href="#chci-vytvorit-neco-smysluplneho">
                            <p>Chci vytvořit něco smysluplného</p>
                            <p class="text-comment">Můžeš zvýšit pestrost krajiny!</p>
                        </a>
                    </div>
                    <div class="col">
                        <h3 class="h3">Nevlastním půdu</h3>
                        <hr>
                        <a class="btn block"  href="#hospodarim-na-cizi-pude">
                            <p>Hospodařímna cizí půdě</p>
                            <p class="text-comment">Máš přímý vliv na pozitivní změnu!</p>
                        </a>
                        <a class="btn block"  href="#chci-podporit-dobre-hospodareni">
                            <p>Chci podpořit dobré hospodaření</p>
                            <p class="text-comment">Podpoř místní iniciativy a farmáře!</p>
                        </a>
                        <a class="btn block"  href="#chci-se-podilet-na-zlepseni-krajiny">
                            <p>Chci se podílet na zlepšení krajiny</p>
                            <p class="text-comment">Daruj svůj čas a staň se dobrovolníkem!</p>
                        </a>
                    </div>
                </div>
            {% endif %}


        {% endfor %}


    </div>
{% endblock %}
