<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block meta %}
        {% include "@SuluWebsite/Extension/seo.html.twig" with {
            "seo": extension.seo|default([]),
            "content": content|default([]),
            "localizations": localizations|default([]),
            "shadowBaseLocale": shadowBaseLocale|default(),
        } %}
    {% endblock %}

    {% block style %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
    <nav>
        <div class="col logo">
            <a href="/" class="clean">KRAJ<span class="green">!</span>NA</a>
        </div>
        <div class="col menu">
            <a href="/#vystava" class="menu-toggler">Výstava</a>
            <a href="/#katalog" class="menu-toggler">Katalog</a>
            <a href="/#anketa" class="menu-toggler">Anketa</a>
            <a href="/#inspirace" class="menu-toggler">Inspirace</a>
            <a href="/#budoucnost" class="menu-toggler">Budoucnost</a>
            <a href="/#jak-na-vystavu" class="menu-toggler">Jak na výstavu</a>
            <a href="/#o-projektu" class="menu-toggler">O projektu</a>
            <a href="/#autori" class="menu-toggler">Autoři</a>
            <a href="https://www.facebook.com/UPK563" class="clean" target="_blank">
                <picture>
                    <source srcset="{{ asset("build/website/img/facebook_white.svg") }}" media="(prefers-color-scheme: dark)">
                    <img src="{{ asset("build/website/img/facebook.svg") }}" alt="" style="width: 20px; display: inline-block; position: relative; bottom: -.25rem">
                </picture>
            </a>
        </div>
        <div class="col datetime">
            4. 3. - 31. 5. 2023, zámek Žďár nad Sázavou
        </div>
        <div class="col menu-toggler">
            <a href="#" class="menu-toggler">menu</a>
        </div>
    </nav>

    {% block content %}

    {% endblock %}


    <footer>
        <div class="container-40">
            <p>
                Výstava je výstupem projektu Poplužní dvory Čech, Moravy a Slezska a jejich harmonická kulturní krajina – identifikace a soudobá interpretace kulturních hodnot. Projekt DG18P02OVV018, financován MK ČR v rámci Programu na podporu aplikovaného výzkumu a vývoje národní a kulturní identity (NAKI II).
            </p>
            <br><br><br>
            <p>
                4. března - 31. května &nbsp; 2023<br>
                Út - Ne &nbsp; &nbsp; &nbsp;09:00 - 17:00<br>
                <a href="https://www.zamekzdar.cz/" target="_blank">zámek Žďár nad Sázavou</a>
            </p>
            <br><br><br>
            <img src="{{ asset("build/website/img/logo_mendelu.svg") }}" alt="" style="width: 10rem">
        </div>
    </footer>

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>
</html>
