<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block meta %}
        {% include "@SuluWebsite/Extension/seo.html.twig" with {
            "seo": extension.seo|default([]),
            "content": content|default([]),
            "localizations": localizations|default([]),
            "shadowBaseLocale": shadowBaseLocale|default(),
        } %}
    {% endblock %}

    {% block style %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
    <nav>
        <div class="col logo">
            KRAJ<span class="green">!</span>NA
        </div>
        <div class="col menu">
            <a href="#uvod">Úvod</a>
            <a href="#vystava">Výstava</a>
            <a href="#o-projektu">O projektu</a>
            <a href="#jak-na-vystavu">Jak na výstavu</a>
            <a href="#autori">Autoři</a>
            <a href="https://www.facebook.com/UPK563" class="clean">
                <img src="{{ asset("build/website/img/facebook.svg") }}" alt="" style="width: 20px; display: inline-block; position: relative; bottom: -.25rem">
            </a>
        </div>
        <div class="col datetime">
            1. 8. - 30. 9. 2021, hrad Veveří
        </div>
        <div class="col menu-toggler">
            <a href="#" class="menu-toggler">menu</a>
        </div>
    </nav>

    {% block content %}

    {% endblock %}


    <footer>
        <div class="container-40">
            <p>
                Výstava je výstupem projektu Poplužní dvory Čech, Moravy a Slezska a jejich harmonická kulturní krajina – identifikace a soudobá interpretace kulturních hodnot. Projekt DG18P02OVV018, financován MK ČR v rámci Programu na podporu aplikovaného výzkumu a vývoje národní a kulturní identity (NAKI II).
            </p>
            <img src="{{ asset("build/website/img/logo_mendelu.png") }}" alt="" style="width: 10rem">
        </div>
    </footer>

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>
</html>
